.contactUsMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin: 50px 0;

  .telegram{
    text-align: center;
  }

  a {
    color: #ff6c00;
    font-weight: bold;
    font-size: 28px;
    margin: 0 10px;
    text-decoration: underline;
  }
}