.cartHeader {
  display: flex;
  width: 60%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 3% auto 2%;

  .cartText {
    font-size: 30px;
    letter-spacing: 0.07em;

    img {
      padding-right: 10px;
      position: relative;
      top: 5px;
    }
  }

  .cleanText {
    cursor: pointer;
    opacity: 0.6;
    font-size: 14px;
    letter-spacing: 0.02em;

    img {
      padding-right: 5px;
      position: relative;
      top: 3px;
    }
  }
}

.cartBottom {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 1% auto;

  .cartBottomText {
    display: flex;
    flex-direction: column;
  }

  .cartButton {
    margin: 10px 0;
  }

  .back{
    opacity: 0.4;
  }
  .pay{
    background-color: #343434;
    color: white;
    border: 0;
  }
}

