.orderBlock {
  max-width: 350px;
  margin: 10% auto;

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .inputValues {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .inputPhone {
        width: 175px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  .button{
    margin-top: 20px;
    background-color: #343434;
    color: #eeeeee;
  }

  input {
    margin: 10px 10px;
  }
}