.main {
  margin: 40px 0;

  .titlePlusSearch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .title {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 32px;
      letter-spacing: 0.16em;
      text-transform: capitalize;
      @media (max-width: 610px) {
        font-size: 24px;
      }
    }

    .searchBlock {
      width: 100px;
      margin-right: 100px;
      @media (max-width: 400px) {
        width: 60px;
      }


      .searchIcon {
        position: relative;
        bottom: 38px;
        left: 8px;
        opacity: 0.9;
      }

      .search {
        border: 0;
        width: 100%;
        background: #f5f5f5;
        color: inherit;
        padding: 15px 45px;
        cursor: text;
        border-radius: 25px;
        opacity: 0.8;
      }
    }
  }

  .items {
    width: 100%;

    .item {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 1340px;
      margin: 0 auto;

      @media (max-width: 1436px) {
        margin: 0 auto;
        max-width: 1005px;
      }
      @media (max-width: 1101px) {
        margin: 0 auto;
        max-width: 670px;
      }
      @media (max-width: 776px) {
        margin: 0 auto;
        max-width: 335px;
      }
    }
  }
}