.main {
  width: 320px;
  height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;


  .itemBlock {
    padding: 15px;
    height: 100%;

    .favorite {
      position: absolute;
      margin: 15px;
      opacity: 0.5;

      &:hover {
        opacity: 1;
        cursor: pointer;
      }
    }

    img {
      width: 100%;
      height: 80%;
      transition: all .2s ease-in-out;
    }

    .titleItem {
      font-size: 16px;
      margin: 10px 0;
    }

    .contentPriceWithBtn {
      font-size: 14px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .buttonAddItem {
        background-color: #343434;
        color: white;
      }
    }
  }
}