.main {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .itemBlock {
    padding: 15px;

    img {
      width: 100%;
      transition: all .2s ease-in-out;

      &:hover {
        opacity: 0.7;
        //transform: scale(1.2);
      }
    }

    .contentPrice {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .columnContentPrice {
        div {
          font-family: 'Montserrat', serif;
          font-style: normal;
          font-weight: 500;
          letter-spacing: 0.5px;
        }
      }

      img {
        height: 50px;
        width: 50px;
      }
    }

  }
}