.cartHeader {
  display: flex;
  width: 26%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2% auto;

  .headerText {
    font-family: 'Righteous', cursive;
    font-size: 24px;
    letter-spacing: 0.07em;
  }
}

//.cartTitle {
//  font-family: 'Righteous', cursive;
//  font-size: 30px;
//  margin: 10px;
//  letter-spacing: 0.07em;
//}


//.cartBlock {
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  height: 100vh;
//
//  .cart {
//    background-color: #ffffff;
//    text-align: center;
//
//  }
//
//  img {
//    margin: 0 auto;
//  }
//
//  .cartClean {
//    font-weight: 600;
//    font-size: 22px;
//  }
//
//  p {
//    font-weight: 400;
//    font-size: 16px;
//    opacity: 0.4;
//    margin: 15px 0;
//  }
//}