.mainHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px black solid;
  padding: 0 0 10px 0;

  h1 {
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 0.07em;
  }

  .leftHeader {
    display: flex;
    align-items: center;
    width: 50%;

    img {
      display: block;
      height: 60px;
      border-radius: 50%;
    }

    .title {
      width: 200px;
      margin-left: 15px;
    }
  }

  ul {
    list-style: none;
  }

  .rightHeader {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    li {
      cursor: pointer;
      margin: 0 8px;

      img {
        position: relative;
        top: 3px;
        width: 20px;
      }

      span {
        margin: 0 5px;
      }
    }
  }
}