.button {
    font: inherit;
    border: 1px solid #000000;
    background: #000000;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
    border-radius: 15px;
}

.button:hover,
.button:active {
    background: #1f1f1f;
    border-color: #1f1f1f;
}

.button:focus {
    outline: none;
}