.footer {
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;

  .rights{
    opacity: 0.8;
    font-size: 12px;
  }

  .instagram {
    text-transform: uppercase;
    font-size: 16px;
    opacity: 0.9;

    img {
      display: block;
      margin: 0 auto 6px;
      width: 36px;
    }
  }

  .contacts span {
    margin: 0 10px;
  }
}
