.headerBlock {
  width: 60%;
  margin: 0 auto;
}

.cartBottom {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 1% auto;

  .cartBottomText {
    display: flex;
    flex-direction: column;
  }

  .cartButton {
    margin: 10px 0;
  }

  .back {
    opacity: 0.4;
  }

  .pay {
    background-color: #343434;
    color: white;
    border: 0;
  }
}

