* {
  font-family: 'Open Sans', sans-serif;
  overflow: visible;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: 'Righteous', cursive;
  margin: 0;
}

p {
  margin: 0;
}

.main {
  max-width: 1340px;
  margin: 40px auto;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

.mainContainer{
  margin: 0 40px;
}