* {
  font-family: 'Open Sans', sans-serif;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: 'Righteous', cursive;
  margin: 0;
}

p {
  margin: 0;
}

.App {
  margin: 40px;
  //min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}